@CHARSET "ISO-8859-1";

.feedHeader {
    text-align: center;
    background: #b6cddb;
    padding: 20px 0px 0px 0px;
    height: 23px;
    margin: 0px 0px 20px 0px;
}

.feedHeader h3 {
	color: white;
    float: right;
}

.feedBody {
    padding: 0px 10px 0px 10px;
}

.feedItem{
	color: #20729F;
	font-size: 12px;
}

.feedItem .title{

}

.feedItem .timestamp{
	padding-left:10px;
	font-style:italic;
	color:#333;
	font-size:11px;
}
