.home-text {
    padding:40px 0px 20px 0px;
}

.contributors {
    width: 100%;
    text-align: center;
    margin: 25px 0px 25px 0px;
}

.contributors-label {
    width: 100%;
    
}

.contributors-logos {
    float: right;
}




